.addGenre:hover {
    cursor: pointer;
}

.showSaveButton{
    display: inline
}

.hideSavebutton{
    display: none
}

.profileCard{
    margin: 2%;
}

.profileImage{
    border-radius: 50%;
    width: 40%;
    height: 100%;
}